/*

Theme: vorestema
Template: twentynineteen
Author: Gruppe 8
Version: 1.0.225
Description: Stylish Child Theme based on Twenty Nineteen.

*/

@import url('https://fonts.googleapis.com/css2?family=Trirong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

img {
    width: 100%;
    overflow: hidden;
}


.pil {
    float: left;
    width: 25px;
    margin: 20px;
}

.pil:hover {
    transform: scale(1.02);
}

.inline {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


/*grid styling på loopview af produkter */
#produktcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 1em;
    margin: 2em;
}


#produktcontainer img {
    height: 350px;
    max-width: 300px;
    object-fit: contain;
}

}

.produkt_div {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    text-align: center;
    display: none;
}

::selection {
    text-align: center;

}

.produkt_article {
    background: white;
    border-radius: 0.5em;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
}

.produkt_article:hover,
.produkt_article:focus,
.produkt_article:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.single_billede {
    border-radius: 0.5em;
}

.beskrivelse_produkt {
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 0;

}

.single_p {
    text-align: left;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #4C4B4B;
    font-size: 0.8rem;
}

.pris {
    font-size: 1rem;
    text-align: left;
    margin: 0;
    padding: 0;
}



h1 {
    text-align: center;
    font-family: 'Trirong', sans-serif;
    font-weight: 200;
    font-size: 70px;
    color: #4C4B4B;
}

h2 {
    font-size: 16px;
    padding: 1vw;
    font-family: 'Trirong', sans-serif;
    color: #4C4B4B;
    font-weight: 500;
}

h3 {
    font-size: 0.6rem;
    padding: 1vw;
    font-family: 'Trirong', sans-serif;
    color: #4C4B4B;
    font-weight: 400;
}


.produkt_p {
    font-size: 0.6rem;
    padding: 1vw;
    font-weight: 400;
    font-family: 'Trirong', sans-serif;
    color: #4C4B4B;
}




button {
    background-color: #E1C9C1;
}

.laeg_i_kurv {
    background-color: #535151;
    font-size: 0.6rem;
    margin-top: 2em;
}

/*"alle" knappen*/
button:hover {
    background-color: #E1C9C1;
    color: #4C4B4B;
}

/*filtrerings knapper*/
button.filter:hover {
    background-color: #E1C9C1;
    color: #4C4B4B;
}

button:input:hover {
    background-color: #E1C9C1;
}

nav {
    text-align: center;
}

.valgt {
    color: #4C4B4B;
}

/*fjern sort hover i chrome*/
button:focus {
    outline-color: #75485E;
    background-color: #E1C9C1;
}



/*produkt single view*/
.wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
}

@media only screen and (max-width: 660px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.col1,
.col2 {
    text-align: center;
    /*    background-color: #e7929d54;*/
}

.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.col2 img {
    object-fit: cover;
    height: 100%;
}

/*
#readmore {
    font-family: 'Roboto', sans-serif;
    margin-left: 13px;
    color: #D8322D;
    font-weight: 900;
}

#readmore:hover {
    color: #e7929d54;
}
*/

/*episode single view*/
/*
.peter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 4em;
}

.col3 img {
    object-fit: cover;
    height: 100%;
}

@media only screen and (max-width: 660px) {
    .peter {
        display: grid;
        grid-template-columns: 1fr;
    }
}
*/

/*gå til top/bund knap*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #75485E;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}

#myBtn:hover {
    background-color: #E1C9C1;
}


h1:not(.site-title)::before,
h2::before {
    content: none;
}


.martin {
    max-width: 800px;
    margin: auto;
    background-color: none;
}



/*
.col4 img {
    width: 3rem;
}

.itunes {
    padding: 10px;
}

.podimo {
    padding: 10px;
}

.spotify {
    padding: 10px;
}

.google {
    padding: 10px;
}
*
